<% post_images.each do |post_image| %> <!-- @post_images → post_images -->
 <div>
  <%= link_to post_image_path(post_image.id) do %>
   <%= attachment_image_tag post_image, :image %>
  <% end %>
  <!--usersモデルと紐づいたshowファイルには、showアクション時にインスタンス変数@userへ諸々の情報が格納されていた。そのため、attachment_image_tagの右隣には@userが指定されていた。
  今回はインスタンス変数内に必要な情報が格納されていない状況のため、PostImageモデルとアソシエーションされたUserモデルから直接情報を取りに行っているようなイメージ-->
  <!--7章により、部分テンプレート化されているものの、元々は「post_images/index.html.erbファイル」と「users/show.html.erbファイル」に、記述あり-->
    <p>投稿ユーザー画像：<%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
    <p>ショップ名: <%= post_image.shop_name %></p>
    <p>説明 <%= post_image.caption %></p>
    <p>ユーザーネーム: <%= post_image.user.name %></p> <!-- ブロック変数post_imageに格納された、userモデルのnameカラム内の該当キーを出力 -->
    <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
  </div>
<% end %>
<%= paginate post_images %> <!-- @post_images → post_images -->