<% @post_images.each do |post_image| %>
 <div>
  <%= link_to post_image_path(post_image.id) do %>
   <%= attachment_image_tag post_image, :image %>
  <% end %>
  <!--『投稿ユーザー画像』部分があるとエラー発生のため、削除--->
    <p>ショップ名: <%= post_image.shop_name %></p>
    <p>説明 <%= post_image.caption %></p>
    <p>ユーザーネーム: <%= post_image.user.name %></p> <!-- ブロック変数post_imageに格納された、userモデルのnameカラム内の該当キーを出力 -->
    <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
  </div>
<% end %>
<%= paginate @post_images %>